/*#2f4f4f dark forest green
#b0ccd4 light blue
*/

* {
    font-family: 'Roboto', 'Helvetica', 'Raleway', sans-serif;
    font-weight: 300;
    color: #FDFDFD;
}

body {
    background-color: #8FB2BC;
    overflow-x: hidden;
}


#navbar {
    height: 10%;
    width: 100%;
    display: inline-block;
}
    #home {
        display: inline-block;
    }
    #links {
        display: inline-block;
        float: right;
        margin-right: 22px;
    }

    h1 {
        font-size: 25px;
        display: inline-block;
        margin-left: 22px;
    }

#sentence {
    margin: auto;
    margin-top: 11%;
    width: 76%;
}
    .static, .nonstatic {
        display: inline-block;
    }
    .nonstatic {
        width: 77%;
        padding-bottom: 10px;
        border-bottom: 3px solid #FDFDFD;
        text-align: center;
    }
    h2, #typed {
        font-size: 95px;
        font-weight: 400;
    }
    h2 {
        font-weight: 300;
        margin-right: 20px;
    }

    .typed-cursor {
      opacity: 1;
      font-size: 95px;
      -webkit-animation: blink 0.5s alternate infinite ease-in-out;
      -moz-animation: blink 0.5s alternate infinite ease-in-out;
      animation: blink 0.5s alternate infinite ease-in-out;
    }

    @keyframes blink {
        to { opacity: 0 }
    }
