* {
    font-family: Avenir Next, sans-serif;
}
.typed-cursor {
  opacity: 1;
  font-size: 30px;
  -webkit-animation: blink 0.5s alternate infinite ease-in-out;
  -moz-animation: blink 0.5s alternate infinite ease-in-out;
  animation: blink 0.5s alternate infinite ease-in-out;
}

@keyframes blink {
	to { opacity: 0 }
}





