* {
	background-color: black;
	font-family: proxima nova, avenir next, helvetica, arial, sans-serif;
	margin: 0px;
	padding: 0px;
}

#fullscreen {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

/*.navbar {
	overflow: hidden;
	background-color: transparent;
	position: fixed;
	margin: 40px;
	top: 0;
	width: 100%
}

.navbar a {
	float: left;
	display: block;
	color: #3F88C5;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	background-color: transparent;
	font-size: 30px;
}*/

#topbar {
	height: 30%;
	width: 100%;
	vertical-align: top;
	margin-top: 50px;
	margin-left: 50px;
}

h1 {
	font-size: 20px;
	font-weight: normal;
	color: #3F88C5;
}

h1 span {
	font: 26px Monaco, MonoSpace;
	height: 100px;
	position: absolute;
	transform-origin: bottom center;
}

/*explore 7char*/
.char1 {transform: rotate(22.5deg)}
.char2 {transform: rotate(45deg)}
.char3 {transform: rotate(67.5deg)}
.char4 {transform: rotate(90deg)}
.char5 {transform: rotate(112.5deg)}
.char6 {transform: rotate(135deg)}
.char7 {transform: rotate(157.5deg)}
/*space*/
.char8 {transform: rotate(180deg)}
/*my 2char*/
.char9 {transform: rotate(202.5deg)}
.char10 {transform: rotate(225deg)}
/*space*/
.char11 {transform: rotate(247.5deg)}
/*work 4char*/
.char12 {transform: rotate(270deg)}
.char13 {transform: rotate(292.5deg)}
.char14 {transform: rotate(315deg)}
.char15 {transform: rotate(337.5deg)}

#mainscreen {
	height: 95%;
	width: 100%;
	vertical-align: top;
}

#intro {
	margin-top: 8%;
	margin-left: 50px;
	margin-bottom: 10%;
}

#work_anchor {
	height: 100%;
	width: 25%;
	float: right;
}

.link {
	display: inline-block;
	height: 100%;
	width: 100%;
}

#circle {
	float: right;
	margin: 10px;
	margin-right: 200px;
	height: 200px;
	-webkit-animation: spin 10s infinite linear;
}

@-webkit-keyframes spin {
	0%  {-webkit-transform: rotate(0deg);}
	100% {-webkit-transform: rotate(360deg);}	
}


h2 {
	color: white;
	font-weight: 700;
	font-size: 800%;
	font-family: helvetica, arial, sans-serif;
}

.typed_sentence {
	display: inline-block;
}

#typed {
	margin-left: 15px;
	font-size: 70px;
	font-weight: normal;
	color: #3F88C5;
}

.typed-cursor {
	font-size: 80px;
	color: #3F88C5;
}

h3 {
	color: white;
	font-weight: normal;
	font-size: 70px;
}

#underline {
	width: 585px;
	margin-left: 172px;
	margin-top: 10px;
	border-color: white;
}

.work {
	vertical-align: top;
	margin-left: 55px;
	margin-right: 10px;
	padding-top: 50px;
	color: white;
	margin-bottom: 50%;
	display: inline-block;
	width: 100%;
}

h4 {
	color: white;
	font-weight: normal;
	font-size: 70px;
	display: inline-block;
}

h5 {
	margin-left: 20px;
	color: white;
	display: inline-block;
	font-weight: normal;
	font-size: 70px;
}

/*#E08686*/
/*#DB5461*/
/*#E07979*/
/*#00467F*/
/*#3F88C5*/

#link {
	color: white;
}

#link:link {
	color: white;
	text-decoration: none;
	border-bottom: 2px solid white;
}

#link:hover {
	color: #3F88C5;
	border-bottom: 2px solid #3F88C5;
}

.projects {
	margin-top: 50px;
	margin-left: 20px;
	margin-right: 50px;
	float: right;
	width: 55%;
	height: 100%;
}

h6{
	color: white;
	display: block;
	font-weight: normal;
	font-size: 45px;
	margin-bottom: 70px;
}

footer{
	color: white;
}
/* Grow */
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.25);
}

/* Pulse Grow */
@-webkit-keyframes hvr-pulse-grow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
@keyframes hvr-pulse-grow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
.hvr-pulse-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
}
.hvr-pulse-grow:hover, .hvr-pulse-grow:focus, .hvr-pulse-grow:active {
  -webkit-animation-name: hvr-pulse-grow;
  animation-name: hvr-pulse-grow;
  -webkit-animation-duration: 0.7s;
  animation-duration: 0.7s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

