body {
	background-color: rgba(192,68,63,0.3);
	color: rgba(192,68,63);
	font-family: 'Montserrat', sans-serif;
}

.logo-container{
	margin: auto;
	text-align: center;
	vertical-align: middle;
	display: table;
	padding: 60px 0px 0px 0px;
}
.logo{
	height: 150px;
	width: 150px;
}

.gift-section {
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows:  auto;
	grid-gap: 0px;
	margin: auto;
	vertical-align: middle;
	text-align: center;
	width: 60%;
	/*padding: 0px 100px 0px 100px;*/

}