* {
	margin: 0;
	padding: 0;
	font-family: Avenir Next, Avenir, "Muli", "Nunito", "Montserrat", sans-serif;
	height: 100%;
	width: 100%;
	overflow-x: hidden;
	background-color: transparent;
}

div {
	display: inline-block;
}

.scroll {
	height: 100%;
	width: 100%;
}

.main {
	/*background-color: #3F88C5;*/
	background-color: black;
}

.topbar {
	height: 35%;
	width: 100%;
}

.circlecontainer {
	height: 100%;
	width: 35%;
	float: right;
	text-align: center;
}

.circle {
	padding: 10%;
	text-align: center;
	-webkit-animation: spin 10s infinite linear;
	float: initial;
}

.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    color: #3F88C5;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.25);
}

h1 span {
	font: 20px Monaco, MonoSpace;
	height: 35%;
	width: 10%;
	position: absolute;
	transform-origin: bottom center;
}

/*explore 7char*/
.char1 {transform: rotate(22.5deg)}
.char2 {transform: rotate(45deg)}
.char3 {transform: rotate(67.5deg)}
.char4 {transform: rotate(90deg)}
.char5 {transform: rotate(112.5deg)}
.char6 {transform: rotate(135deg)}
.char7 {transform: rotate(157.5deg)}
/*space*/
.char8 {transform: rotate(180deg)}
/*my 2char*/
.char9 {transform: rotate(202.5deg)}
.char10 {transform: rotate(225deg)}
/*space*/
.char11 {transform: rotate(247.5deg)}
/*work 4char*/
.char12 {transform: rotate(270deg)}
.char13 {transform: rotate(292.5deg)}
.char14 {transform: rotate(315deg)}
.char15 {transform: rotate(337.5deg)}

a {
	color: #3F88C5;
	text-decoration: none;
}

h1 {
	color: white;
}

.intro {
	height: 30%;
	width: 100%;
}
