body{
	background-color: #0E0E0E;
	color: white;
	font-family: Proxima Nova, sans-serif;
	text-align: center;
	overflow: hidden;

}
form{
	width: 100%;
	position: absolute;
	top: 30%;
	left: 0;
	text-align: center;
}
div{
	display: inline-block;
}

#timer{
	font-size: 175px;
}
.timerContainer{
	width: 700px;
	background-color: inherit;
	border-width: 0;
	color: inherit;
}

#resetButtonContainer{
	padding-top: 170px;
}
#resetButton{
	border-color: white;
	background-color: inherit;
	color: white;
	border-radius: 30px;
	font-size: 20px;
	font-family: inherit;
	font-weight: 500;
	border-width: 2;
	padding: 10 30 10 30;
}

.scoreContainer{
	background-color: #0E0E0E;
	border-width: 0;
	font-size: 175px;
	width: 300px;
	height: 300px;
	border-radius: 250px;
}
#redScore{
	background-color: #DA2525;
	color: white;
}
#blueScore{
	background-color: #253FFF;
	color: white;
}

@media (max-width: 1400px) {
	form{
		top: 25%;
	}
	#resetButtonContainer{
		padding-top: 150px;
	}
	#timer, .scoreContainer{
	font-size: 125px;
	}
	.timerContainer{
		width: 400px;
	}
	.scoreContainer{
		width: 200px;
		height: 200px;
	}
}

@media (max-width: 1000px) {
	form{
		top: 25%;
	}
	#resetButtonContainer{
		padding-top: 150px;
	}
	#timer, .scoreContainer{
	font-size: 75px;
	}
	.timerContainer{
		width: 300px;
	}
	.scoreContainer{
		width: 150px;
		height: 150px;
	}
}



