body {
	background-color: rgba(192,68,63,0.3);
	color: rgba(192,68,63);
	font-family: 'Montserrat', sans-serif;
}
.logo-container{
	margin: auto;
	text-align: center;
	vertical-align: middle;
	display: table;
	padding: 60px 0px 0px 0px;
}
.logo{
	height: 150px;
	width: 150px;
}
.gifts-section {
	display: grid;
	grid-template-columns: auto auto auto auto;
	grid-template-rows:  auto;
	grid-gap: 0px;
	margin: auto;
	vertical-align: middle;
	text-align: center;
	width: 60%;
	/*padding: 0px 100px 0px 100px;*/

}
.gift-container{
	height: 100%;
	width: 100%;
	display: block;
	padding: 0px 10px;
	text-align: center;
	vertical-align: center;
}

.gift-name{
	background-color: rgba(192,68,63,0.2);
	border-radius: 25px;
	display: inline-block;
	width: 80%;
	padding: 8px 0px 8px 0px;
	font-size: 15px;
	visibility: hidden;
	/*display: none;*/
}
.gift-container:hover .gift-name{
	visibility: visible;
}
.gift-image {
	vertical-align: middle;
	width: 125px;
	display: inline-block;
	padding: 10px;
}

.bubbles-container {
	padding: 0px 10px;
}
.bubbles-image {
	visibility: hidden;
	width: 150px;
}
.gift-container:hover .bubbles-image{
	visibility: visible;
}
.button-container{
	text-align: center;
	padding: 100px;
}
button{
	border-radius: 50px;
	text-decoration: none;
	border: none;
	background-color: rgba(192,68,63);
	color: rgba(255,255,255,0.7);
	font-size: 15px;
	padding: 15px 32px;
	font-family: 'Montserrat', sans-serif;
}
button:hover{
	background-color: rgba(192,68,63,0.3);
	color: rgba(192,68,63);
}



/*Carousel*/
.giftCarouselBody{
	font-weight: 900;
	transition:1s ease;-moz-transition:1s ease;-webkit-transition:1s ease;
}


.carouselBackgroundTransition{
	background-color: rgba(192,68,63,0.4);
}

.carousel-logo {
	position: relative;
	display: block;
	padding: 60px;
	z-index: 10;
}
.carouselAnimationContainer{
	text-align: center;
}
.carousel-animation {
	width: 30%;
}


/*flickity*/
* { box-sizing: border-box; }
.carousel {
	margin: -375px 0px 0px 0px;
}

.carousel-cell {
	display: flex;
	justify-content: center;
	align-items: center;
  	width: 100%;
  	height: 800px;
  	border-radius: 5px;
  	counter-increment: carousel-cell;
}
.carousel-contents-container {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	height: 50%;

}
.carousel-animation{
	height: 350px;
	width: auto;
}

.carousel-description{
	margin: -200px 0px 0px 0px;
	font-size: 35px;
	text-align: center;
}
.carousel-text{
	margin-bottom: 15px;
}
.carousel-bubbles{
	height: 70px;
}


.flickity-button{
	background: none;
	color: rgba(192,68,63);
}
.flickity-button:hover {
	/*background: rgba(255,255,255,0.5);*/
	background: rgba(192,68,63,0.1);
}
.flickity-prev-next-button{
	width: 125px;
	height: 125px;
}
.flickity-prev-next-button.previous{
	left: 20%;
}
.flickity-prev-next-button.next{
	right: 20%;
}
.flickity-page-dots{
	display: none;
}

