@font-face {
  font-family: "Apple ][";
  src: url('bitmapFont.ttf') format('truetype');
}
html, body{
	background-color: black;
	width: 100%;
	height: 100%;
	margin: 0;
	font-family:'Apple ][','VT323', monospace;
	caret-color: transparent;
	cursor: default;

	/*no text highlighting*/
	user-select: none; // chrome and Opera
	-moz-user-select: none; // Firefox
	-webkit-text-select: none; // IOS Safari
	-webkit-user-select: none; // Safari
}

.description-container{
	text-align: center;
	padding-top: 10vh;
}
.credit-container{
	text-align: center;
	padding-top: 10px;
	display: none;
}
/*.socials-container{
	width: 120px;
	display: inline-flex;
	text-align: center;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	bottom: 5vh;
}*/
.logo-container{
	margin: 10px;
}
.logo{
	width: 20px;
}
h1{
	color: white;
	font-size: 10px;
}
h2{
	font-size: 10px;
	font-family: 'Apple ][','VT323', monospace;
	margin: 0;
	font-weight: normal;
}
.mini-site-container{
	margin: auto;
	text-align: center;
	padding-top: 25vh;
	width: 3px;
	height: 3px;
}
.zoomed{
	width: 45vh;
	height: 45vh;
	padding-top: 5vh;
}

.mini-site{
	padding: 0;
	width: 100%;
	height: 100%;
}
.svg-container{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}
svg{
	display: block;
}

.zoom-button-container{
	text-align: center;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	bottom: 10vh;
}

#zoom-button{
	border-radius: 20px;
	border: none;
	background-color: white;
	padding: 10px 20px 10px 20px;
}

#zoom-button:hover{
	background-color: rgb(255,255,255,0.7);
}

.hidden{
	display: none;
}

.tryagainfade {
    -webkit-animation: fadeinout 1.5s linear forwards;
    animation: fadeinout 1.5s linear forwards;
}

@-webkit-keyframes fadeinout {
  0%,100% { opacity: 0; }
  10%, 70% { opacity: 1; }
}

@keyframes fadeinout {
  0%,100% { opacity: 0; }
  10%, 70% { opacity: 1; }
}

#landingbutton:hover{
	filter: drop-shadow(0px 5px 2px rgb(0 0 0 / 0.1));
}

#visitbutton:hover >#visitbuttonbg{
	fill: black;
}


.biggerbutton:hover{
	filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.1));
}

#nextbutton:hover{
	filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.1));
}

h3{
	color:white;
}

.navpagebutton:hover >.navpagebg{
	filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.1));

/*	fill: #4d4d4d;*/
}

.explorebutton:hover {
	filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.1));

}

.hopscotchnumber:hover{
	opacity: .6;
}

.historysite{
	border-top: 0.1rem solid rgb(28 28 23);
	width: 100%;
	height: auto;
}
.webpagecontainer{
	height: 70%;
	width: 100%;
	overflow-y: scroll;
}

.labelborderhidden{
	border-top: none;
	border-bottom: 0.1rem solid white;
}
.noscrollbar {
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}
.noscrollbar::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
    display: none;
}

/*how many*/

.greenfill {
}